body {
  font-family: 'Spartan', sans-serif;
}

h1 {
  padding-left: 190px;
  padding-top: 50px;
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: hsl(300, 43%, 22%);
}

.para {
  padding-left: 190px;
  margin-top: 0;
  font-family: Arial, sans-serif;
  color: hsl(303, 10%, 53%) ;
  font-size: 14px;
}

.para1 {
  float: right;
  margin-top: -250px;
  background-color: #F6DFF7;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 200px;
  color: purple;
  word-spacing: 2px;
}

.para2 {
  border-radius: 6px;
  color: purple;
  word-spacing: 2px;
  float: right;
  margin-top: -180px;
  margin-right: 100px;
  background-color: #F6DFF7;
  padding: 10px 20px;
}

.para3 {
  border-radius: 6px;
  color: purple;
  word-spacing: 2px;
  float: right;
  background-color: #F6DFF7;
  padding: 10px 20px;
  margin-top: -110px;
  margin-right: 60px;
}
.para4 {
  background-color: hsl(300, 43%, 22%);
  float: right;
  padding: 40px 20px;
  margin-right: 900px;
  color: #fff;
  border-radius: 6px;
  font-family: Arial, sans-serif;
}

span {
  padding-top: 20px;
}

.para5 {
  background-color: hsl(300, 43%, 22%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -220px;
  float: right;
  color: #fff;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  margin-right: 550px;
}

.para6 {
  background-color: hsl(300, 43%, 22%);
  float: right;
  padding: 40px 30px;
  color: #fff;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  margin-right: -700px;
  margin-top: -210px;
}
